body {
    background-color: black;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large; 
    text-align: center;
    background-image: url(../images/glow.jpg);
}
#top {
        color:blueviolet; 
        font-family:sans-serif;
        border-width: 3px;
        border-color: red;
        border-style: solid;
        background-color: gold;
}

div{
    box-align:center;
    background:rgb(250, 250, 250);
    margin:0 auto;
    width: 500px;
    height: 25px;
    padding-top: 10px;
    padding-bottom:20px;
}
.second
{
    color:goldenrod; 
    font-family: sans-serif;

}
span{
    color:palevioletred;
    font-weight:bold;
}

a:link{
    color:navy;
}

a:visited{
    color:purple;
}

a:hover {
    color:red;
}

a:active{
    color:skyblue;
}

ol{
    color:darkslateblue;
    list-style-position: inside;
}


ul{
    color:darkslateblue;
    list-style-position: inside;
}

.cool{
    float:left;
    padding-left: 50px;
}

.navigation ul {
    font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  .navigation li {
    display: inline-block;
  }
  .navigation a {
    background: #395870;
    background: linear-gradient(#49708f, #293f50);
    border-right: 1px solid rgba(0, 0, 0, .3);
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
  }
  .navigation a:hover {
    background: #314b60;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
  }
  .navigation li:first-child a {
    border-radius: 4px 0 0 4px;
  }
  .navigation li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
  }